<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Menyertakan aturan berikut untuk mengizinkan akses ke folder uploads
    RewriteRule ^uploads/(.*)$ /public/uploads/$1 [L,NC]
</IfModule> 
